*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #353535;
    height: 15vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
header > div{
    width:100%;
    display:flex;
}
.logo{
    display:block;
    height:4em;
    width:auto;
}
section{
    padding:1em;
    background-color: rgb(95, 59, 59);
}
section > * {
    margin-left: .8em;
    margin-top: .5em;
    margin-bottom:10vh;
}
footer{
    background-color: #737373;
    height: 10vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    position: fixed;
}
body {
    background-color: #272727;
    color: #fff;
}
a{
    color: rgb(255, 123, 75);
    margin:.4em;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 0.5em;
    border: 1px solid #fff;
}
tr:nth-child(even){
    background-color: #3c1515;
}
